.Producto-Container {
    display: flex;
    flex-direction: column;
}

.Producto {
    display: flex;
    justify-content: space-between;
}

.Producto-Imagenes-Portada {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 22rem;
    flex-direction: column;
    padding: 0 4rem;
}

.Producto-Imagenes-Lista {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.Volver {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.Volver svg {
    scale: 1.5;
}

p.Volver-Texto {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

.Producto-Hader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3rem 0;
}

.Producto-Portada {
    width: 19rem;
    display: flex;
    flex-direction: column;
    padding: 0 5rem 0 1rem;
}


.Producto-Informacion {
    width: 30rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #f0f0f0;
}

.Producto-Precio {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

a.Producto-VerPrecio {
    text-decoration: underline;
    color: #F6831F;
}

p.Producto-Descripcion {
    margin-top: 2rem;
    background-color: #ddd;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
}