.DatoItem {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 1rem;
    border: solid #00000030 2px;
}

svg.DatoItem-Icon {
    scale: 1;
}

p.DatoItem-Label {
    font-weight: 600;
    width: 7rem;
}

p.DatoItem-Value {
    
}