div.AddEditProductoPage-Card {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.AddEditProductoPage-ButtonsBox {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.AddEditProductoPage-Snackbar {
  display: flex;
  gap: .25rem;
}

a.AddEditProductoPage-Link {
  text-decoration: underline;
  color: blue;
}

div.Producto-Imagen {
  display: flex;
  margin: 1rem 0;
}