.Categoria {
    display: flex;
    flex-direction: column;
}

.Categorias-List {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}