.CategoriaContainer {
    display: flex;
}

.CategoriaItem {
    display: flex;
    width: 13rem;
    flex-direction: column;
    align-items: stretch;
    border-radius: 1rem;
    overflow: hidden;
    border: solid #00000030 3px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

p.CategoriaItem-Label {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.CategoriaContainer-Actions {
    opacity: 0;
    transition-duration: 300ms;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .25rem;
    translate: -23px 0;
}


.CategoriaContainer:hover .CategoriaContainer-Actions {
    opacity: 1;
    translate: 0 0;
}