.Item {
    display: flex;
    border: solid black 1px;
    border-radius: 0.5rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.Item-Portada,
.Item-Acciones {
    display: flex;
}

.Item-Titulo {
    width: 30%;
    display: flex;
    gap: 1rem;
}