.Producto-Container {
    display: flex;
    flex-direction: column;
}

.Producto {
    display: flex;
    justify-content: space-around;
}

.Producto-Imagenes-Portada {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 22rem;
    flex-direction: column;
    padding: 0 4rem;
}

.Producto-Imagenes-Lista {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.Volver {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
    align-items: center;
}


.Volver svg {
    scale: 1.5;
}

p.Volver-Texto {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}